section.furniture-frame
  .furniture-frame__wrapper
    .furniture-frame__content
      h2.furniture-frame__title Металлокаркасы
      p.furniture-frame__description Изготовим для вас барную стойку, станцию официанта, каркасы для осветительных приборов, декоративные конструкции и многое другое.
    .furniture-frame__gallery
      .furniture-swiper-container
        .swiper-wrapper
          -
            const frame_items = [
              {description: 'Описание', url: 'img/furn_frame1', lqip: 'img/lqip/furn_frame1'},
              {description: 'Описание', url: 'img/furn_frame2', lqip: 'img/lqip/furn_frame2'},
              {description: 'Описание', url: 'img/furn_frame3', lqip: 'img/lqip/furn_frame3'},

            ];
          each frame_item in frame_items
            .swiper-slide
              picture
                source(type="image/webp" srcset=frame_item.lqip + '@1x.jpg' data-srcset=frame_item.url + '@1x.webp 1x,' + frame_item.url + '@2x.webp 2x')
                img.lazyload.blur-up(src=frame_item.lqip + '@1x.jpg' data-src=frame_item.url + '@1x.jpg' data-srcset=frame_item.url + '@2x.jpg 2x' alt=frame_item.description)

        <!-- Add Pagination -->
        .f-swiper-pagination

        <!-- Add Arrows -->
        .f-swiper-button-next
        .f-swiper-button-prev
