section.furniture-bakehouse
  .furniture-bakehouse__wrapper
    .furniture-bakehouse__content
      h2.furniture-bakehouse__title В кофейни и  пекарни
      p.furniture-bakehouse__description Изготовление рабочих столов для сотрудников и для руководителей, обустройство обеденной зоны.
    .furniture-bakehouse__gallery
      .furniture-swiper-container
        .swiper-wrapper
          -
            const bakehouse_items = [
              {description: 'Фото мастерской', url: 'img/adv_1', lqip: 'img/lqip/adv_1'},
              {description: 'Фото мастерской', url: 'img/adv_2', lqip: 'img/lqip/adv_2'},
              {description: 'Фото мастерской', url: 'img/adv_3', lqip: 'img/lqip/adv_3'},

            ];
          each bakehouse_item in bakehouse_items
            .swiper-slide
              picture
                source(type="image/webp" srcset=bakehouse_item.lqip + '@1x.jpg' data-srcset=bakehouse_item.url + '@1x.webp 1x,' + bakehouse_item.url + '@2x.webp 2x')
                img.lazyload.blur-up(src=bakehouse_item.lqip + '@1x.jpg' data-src=bakehouse_item.url + '@1x.jpg' data-srcset=bakehouse_item.url + '@2x.jpg 2x' alt=bakehouse_item.description)


        <!-- Add Pagination -->
        .f-swiper-pagination

        <!-- Add Arrows -->
        .f-swiper-button-next
        .f-swiper-button-prev
