section.furniture-restaurant
  .furniture-restaurant__wrapper
    .furniture-restaurant__content
      h2.furniture-restaurant__title Мебель для ресторана
      p.furniture-restaurant__description Изготовим для вас барную стойку, станцию официанта, каркасы для осветительных приборов, декоративные конструкции и многое другое.
    .furniture-restaurant__gallery
      .furniture-swiper-container.blur
        .swiper-wrapper
          -
            const restaurant_items = [
              {description: 'Описание', url: 'img/static/furniture_page/furn_rest1', lqip: 'img/lqip/furniture_page/furn_rest1', width: 555, height: 315},
              {description: 'Описание', url: 'img/static/furniture_page/furn_rest2', lqip: 'img/lqip/furniture_page/furn_rest2', width: 477, height: 315},
              {description: 'Описание', url: 'img/static/furniture_page/furn_rest3', lqip: 'img/lqip/furniture_page/furn_rest3', width: 514, height: 315},

            ];
          each restaurant_item in restaurant_items
            .swiper-slide
              picture
                source(type="image/webp" srcset=restaurant_item.lqip + '@1x.jpg' data-srcset=restaurant_item.url + '@1x.webp 1x,' + restaurant_item.url + '@2x.webp 2x')
                img.lazyload.blur-up(src=restaurant_item.lqip + '@1x.jpg' data-src=restaurant_item.url + '@1x.jpg' data-srcset=restaurant_item.url + '@2x.jpg 2x' width=restaurant_item.width height=restaurant_item.height alt=restaurant_item.description)


        <!-- Add Pagination -->
        .f-swiper-pagination

        <!-- Add Arrows -->
        .f-swiper-button-next
        .f-swiper-button-prev
