section.furniture-home
  .furniture-home__wrapper
    .furniture-home__content
      h2.furniture-home__title Мебель для дома
      p.furniture-home__description Изготовим для вас барную стойку, станцию официанта, каркасы для осветительных приборов, декоративные конструкции и многое другое.
    .furniture-home__gallery
      .furniture-swiper-container
        .swiper-wrapper
          -
            const home_items = [
              {description: 'Описание', url: 'img/furn_home1', lqip: 'img/lqip/furn_home1', width: 236, height: 315},
              {description: 'Описание', url: 'img/furn_home2', lqip: 'img/lqip/furn_home2', width: 272, height: 315},
              {description: 'Описание', url: 'img/furn_home3', lqip: 'img/lqip/furn_home3', width: 237, height: 315},
              {description: 'Описание', url: 'img/furn_home4', lqip: 'img/lqip/furn_home4', width: 422, height: 315},
              {description: 'Описание', url: 'img/furn_home5', lqip: 'img/lqip/furn_home5', width: 389, height: 315},
            ];
          each home_item in home_items
            .swiper-slide
              picture
                source(type="image/webp" srcset=home_item.lqip + '@1x.jpg' data-srcset=home_item.url + '@1x.webp 1x,' + home_item.url + '@2x.webp 2x')
                img.lazyload.blur-up(src=home_item.lqip + '@1x.jpg' data-src=home_item.url + '@1x.jpg' data-srcset=home_item.url + '@2x.jpg 2x' width=home_item.width height=home_item.height alt=home_item.description)


        <!-- Add Pagination -->
        .f-swiper-pagination

        <!-- Add Arrows -->
        .f-swiper-button-next
        .f-swiper-button-prev
