section.projects
  .projects__wrapper
    h2.projects__title НАШИ ПРОЕКТЫ

    .grid
      .grid-sizer
      .gutter-sizer

      -
        const items = [
          {effect: 'fade-down', class: 'grid-item--small', title: 'Подставка для цветов', description: 'Сиденье из сосны под маслом. Порошковая покраска стального каркаса', url: 'img/pr_1', lqip: 'img/lqip/pr_1', imgAlt:'проект_1'},
          {effect: 'fade-down', class: 'grid-item--vertical', title: 'Подставка для цветов', description: 'Сиденье из сосны под маслом. Порошковая покраска стального каркаса', url:'img/pr_3', lqip: 'img/lqip/pr_3', imgAlt:'проект_2'},
          {effect: 'fade-down', class: 'grid-item--small', title: 'Подставка для цветов', description: 'Сиденье из сосны под маслом. Порошковая покраска стального каркаса', url: 'img/pr_2', lqip: 'img/lqip/pr_2', imgAlt:'проект_3'},
          {effect: 'fade-down', class: 'grid-item--small', title: 'Стеллаж в нише', description: 'Необычный цвет + масло для дополнительной защиты.', url: 'img/pr_5', lqip: 'img/lqip/pr_5', imgAlt:'проект_5'},
          {effect: 'fade-down', class: 'grid-item--vertical', title: 'Стеллаж в нише', description: 'Необычный цвет + масло для дополнительной защиты.', url: 'img/pr_4', lqip: 'img/lqip/pr_4', imgAlt:'проект_4'},
          {effect: 'fade-down', class: 'grid-item--small', title: 'Стеллаж в нише', description: 'Необычный цвет + масло для дополнительной защиты.', url: 'img/pr_6', lqip: 'img/lqip/pr_6', imgAlt:'проект_6'},
          {effect: 'fade-down', class: 'grid-item--vertical', title: 'Стеллаж в нише', description: 'Необычный цвет + масло для дополнительной защиты.', url: 'img/pr_8', lqip: 'img/lqip/pr_8', imgAlt:'проект_8'},
          {effect: 'fade-down', class: 'grid-item--small', title: 'Стеллаж в нише', description: 'Необычный цвет + масло для дополнительной защиты.', url: 'img/pr_7', lqip: 'img/lqip/pr_7', imgAlt:'проект_7'},
          {effect: 'fade-down', class: 'grid-item--small', title: 'Стеллаж в нише', description: 'Необычный цвет + масло для дополнительной защиты.', url: 'img/pr_9', lqip: 'img/lqip/pr_9', imgAlt:'проект_9'},
        ];
      each item in items
        .grid-item(class=item.class)
          .grid-item__wrapper(data-aos=item.effect)
            picture
              source(type="image/webp" srcset=item.lqip + '@1x.jpg' data-srcset=item.url + '@1x.webp 1x,' + item.url + '@2x.webp 2x')
              img.lazyload.blur-up(src=item.lqip + '@1x.jpg' data-src=item.url + '@1x.jpg' data-srcset=item.url + '@2x.jpg 2x' alt=item.imgAlt)
            h3.projects__item-title(data-aos=item.effect data-aos-delay="500")=item.title
            p.projects__item-description(data-aos=item.effect)=item.description
