section.projects#projects-gallery
  .projects__wrapper
    h2(tabindex="0").projects__title НАШИ ПРОЕКТЫ

    .projects__gallery
      .projects__gallery-container.projects__gallery-container--column-left
        -
          const items = [
            {effect: 'fade-down', class: 'projects__item-sm', title: 'Барная стойка и стулья в кофейню', description: 'Под стойкой рабочий стол для бариста, полки для хранения и открытые части под холодильники.', url: 'img/pr_1', lqip: 'img/lqip/pr_1', imgAlt:'проект_1'},
            {effect: 'fade-down', class: 'projects__item-sm', title: 'Стол и стулья из дуба и я, Иван Копосов.', description: 'Случайное фото во время фотосессии кофейни.', url: 'img/pr_2', lqip: 'img/lqip/pr_2', imgAlt:'проект_3'},
            {effect: 'fade-down', class: 'projects__item-lg', title: 'Декоративная лофт перегородка', description: 'Две распашные двери. Каленое стекло 5мм.', url: 'img/pr_4', lqip: 'img/lqip/pr_4', imgAlt:'проект_4'},
            {effect: 'fade-down', class: 'projects__item-sm', title: 'Барная стойка и стулья из дуба', description: 'Столешница 40мм  на стальном основании. Барные стулья с дубовой спинкой и сиденьем на стальном основании.', url: 'img/pr_6', lqip: 'img/lqip/pr_6', imgAlt:'проект_6'},
            {effect: 'fade-down', class: 'projects__item-sm', title: 'Стеллажи с полками из сосны 40мм.', description: 'Для товаров в вином бутике.', url: 'img/pr_9', lqip: 'img/lqip/pr_9', imgAlt:'проект_9'},
          ];
        each item in items
          .projects__item(class=item.class)
            .projects__item-wrapper(data-aos=item.effect)
              picture
                source(type="image/webp" srcset=item.lqip + '@1x.jpg' data-srcset=item.url + '@1x.webp 1x,' + item.url + '@2x.webp 2x')
                img.projects__img.lazyload.blur-up(src=item.lqip + '@1x.jpg' data-src=item.url + '@1x.jpg' data-srcset=item.url + '@2x.jpg 2x' alt=item.imgAlt)
              h3.projects__item-title=item.title
              p.projects__item-description=item.description

      .projects__gallery-container.projects__gallery-container--column-right
        -
          const rights = [
            {effect: 'fade-down', class: 'projects__item-lg', title: 'Стеллаж с нишей под холодильники', description: 'Полки из дуба. Для товаров в вином бутике.', url:'img/pr_3', lqip: 'img/lqip/pr_3', imgAlt:'проект_2'},
            {effect: 'fade-down', class: 'projects__item-sm', title: 'Стол в ресторан', description: 'Стальное подстолье и каменная столешница.', url: 'img/pr_5', lqip: 'img/lqip/pr_5', imgAlt:'проект_5'},
            {effect: 'fade-down', class: 'projects__item-sm', title: 'Барная стойка и стулья из дуба', description: 'Столешница 40мм  на стальном основании. Барные стулья с дубовой спинкой и сиденьем на стальном основании.', url: 'img/pr_6', lqip: 'img/lqip/pr_6', imgAlt:'проект_6'},
            {effect: 'fade-down', class: 'projects__item-lg', title: 'Шкаф-стеллаж', description: 'Для магазина Питер Смок.', url: 'img/pr_8', lqip: 'img/lqip/pr_8', imgAlt:'проект_8'},
          ];
        each right in rights
          .projects__item(class=right.class)
            .projects__item-wrapper(data-aos=right.effect)
              picture
                source(type="image/webp" srcset=right.lqip + '@1x.jpg' data-srcset=right.url + '@1x.webp 1x,' + right.url + '@2x.webp 2x')
                img.projects__img.lazyload.blur-up(src=right.lqip + '@1x.jpg' data-src=right.url + '@1x.jpg' data-srcset=right.url + '@2x.jpg 2x' alt=right.imgAlt)
              h3.projects__item-title=right.title
              p.projects__item-description=right.description

    a(href="gallery.html").projects__link.m-link Перейти в каталог
      svg(width="50" height="6")
        use(xlink:href="#icon-arr")
